# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/

# environment variables
.env

# logs
*.log

# Node / Frontend
node_modules/
dist/
build/

# Vite cache
.vite/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Jupyter / notebooks
.ipynb_checkpoints/